//- https://naltatis.github.io/jade-syntax-docs/
extends layout

block content
    #title IOTA MAP
    #pixmap
    #about
        p about
    #editDialog
        #dialogContent
            p(style="text-align:right;font-size:larger;margin:0px")
                span#dialogClose X
            p(style="margin:3px;font-size:x-small;")
                span#dialogXY
            p(style="margin:0px")
                button#dialogColor(class="jscolor {valueElement:'dialogColorValue'}") Select your color
                input#dialogColorValue(type="hidden")
            p(style="margin-top:10px;margin-bottom:5px;font-size:large") Current value
            p#dialogValue
            p(style="text-align:left; margin:5px") Address: 
                span#transferAddress
            p(style="text-align:left; margin:5px") Amount at least: 
                span#transferIota(style="font-weight:bold;")
            p(style="text-align:left; margin:5px") Tag: 
                span#transferTag(style="font-weight:bold;")
            p(style="text-align:left; margin:30px") To set your selected color public, transfer IOTAs to the mentioned address and tag.
    button(id="save") save

    //- #clickcolorbutton
    //-     button(id="clickcolor", class="jscolor {valueElement:null,value:'66ccff'}", style="border:1px solid gray") Color

    //- <div id="save">Save</div>
    //- <div id="highlightColor"></div>
    //- <div id="clickcolor" class="jscolor {valueElement:'clickColor', value:'66ccff'}"></div>
    //- <button id="clickColor" class="jscolor {valueElement:'clickColor', value:'66ccff'}"></button>
    //- <button id="load">Load</button>
    //- <button id="save">Save</button>
    //- <div id="debug"></div>