extends layout

block content
    <div id="map" class="map"></div>
    <div id="highlightColor"></div>
    <button id="clickColor" class="jscolor {valueElement:'clickColor', value:'66ccff'}"></button>
    <button id="save">Save</button>
    <button id="load">Load</button>
    <div id="debug"></div>