//- https://naltatis.github.io/jade-syntax-docs/
extends layout

block content
    #title= title
    #loading
    #pixmap
        p#loading loading ...
    p#footer
        a.footerlink(href="https://www.youtube.com/watch?v=ivWqqfzunhI") What is IOTA (video)?
        a.footerlink(href="https://iotasupport.com/gui-sendingandreceiving.shtml") How to transfer IOTA?
        a.footerlink(href="https://github.com/Qomaa/Pixmap") github
    #editDialog
        #dialogContent
            p#dialogHead
                span#dialogXY
                span#dialogValue
            #currentContent
                p(style="margin:10px")
                    a#currentLink
                textarea#currentMessage(wrap="soft", readonly, placeholder ="[NO MESSAGE]")
            #desiredContent
                p.caption Your color
                    p.inputValue
                        button#dialogColor(class="jscolor {valueElement:'dialogColorValue', position:'bottom'}")
                        input#dialogColorValue(type="input")
                p.caption Your link (starting with http://...)
                    p.inputValue
                        input#desiredLink.inputField(maxlength="100")
                p.caption Your message
                    p.inputValue
                        input#desiredMessage.inputField(maxlength="100")
            #transferDescription
                p.caption Transfer at least
                    span#Iotas
                    | IOTAs to the mentioned address and tag. As soon as the transaction is confirmed, your selected color, link and message will be displayed at
                    span#XY
                    | . Other can override your settings by overbidding your IOTA value.
                p.caption Address:
                    p.inputValue
                        input#transferAddress.copyField(type="input" readonly)
                p.caption Amount at least:
                    p.inputValue
                        input#transferIota.copyField(type="input" readonly)
                p.caption Tag:
                    p.inputValue
                        input#transferTag.copyField(type="input" readonly)
    //- button(id="save") save