//- https://naltatis.github.io/jade-syntax-docs/
extends layout

block content
    #pixmap
    #editDialog
        #dialogContent
            p(style="text-align:right;font-size:larger;margin:0px")
                span#dialogClose X
            p(style="margin:3px;font-size:x-small;")
                span#dialogXY
            p(style="margin:0px")
                button(id="dialogColor", class="jscolor {valueElement:'dialogColorValue'}", style="border:1px solid gray; width:150px; height:150px") Select your color
                input#dialogColorValue(type="hidden")
            p(style="margin-top:10px;margin-bottom:5px;font-size:large") Current IOTA value
            p#dialogValue(style="font-size:xx-large;margin:0px")
            p(style="text-align:left; margin=10px") To set your selected color, transfer at least 
                span#transferIota(style="font-weight:bold;")
                | IOTAs to the address 
                span#transferAddress(style="font-size:x-small;word-wrap:break-word")
                | with the tag 
                span#transferTag(style="font-weight:bold;")
                | .
                
    #clickcolorbutton
        button(id="clickcolor", class="jscolor {valueElement:null,value:'66ccff'}", style="border:1px solid gray") Color
        button(id="save") save

    //- <div id="save">Save</div>
    //- <div id="highlightColor"></div>
    //- <div id="clickcolor" class="jscolor {valueElement:'clickColor', value:'66ccff'}"></div>
    //- <button id="clickColor" class="jscolor {valueElement:'clickColor', value:'66ccff'}"></button>
    //- <button id="load">Load</button>
    //- <button id="save">Save</button>
    //- <div id="debug"></div>