//- https://naltatis.github.io/jade-syntax-docs/
extends layout

block css
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/editDialog.css')
        link(rel='stylesheet', href='/stylesheets/tooltip.css')

block scripts
        script(src="/javascripts/jscolor/jscolor.min.js")
        script(src='/javascripts/index.js')
        script(src='/javascripts/MapField.js')
        script(src='/javascripts/Pixmap.js')
        script(src='/javascripts/utils.js')
        script(src='/javascripts/EditDialog.js')
        script(src='/javascripts/BatchMode.js')
      
block content
    #title
        img(src="/images/favicon.png", alt="iota.show logo", style="margin:0px 10px 0px 0px;")
        a#titleCaption(href="https://iota.show", title) iota.show
    p(style="font-size:small;text-align:center;color:#0600ff;padding-bottom:20px;margin-top:0px;") Click on a dot to change its color. You can also write a message and post a link.
    p(style="text-align:center;")
        a(href="/table") View top valued dots in a table
    #tooltip
        table#tttable
            tr
                td#ttPosition
                td#ttMessage(rowspan="3" valign="center")
            tr
                td
                    #ttColor
            tr
                td#ttValue
    #pixmap
        p#loading loading ...
    #functions
        #toggleBatchMode.function Setting dots one by one is too slow? Try Batch Mode!
        #batchMode
            #batchExplanation
                p In Batch Mode you can set multiple dots at once using only one IOTA transaction.
                p.caption Select your color, link and message, then click the dots you wish to change. Each dot can have different settings.
                p.caption Your color
                    p.inputValue
                        button#batchColorPicker(class="jscolor {valueElement:'batchColorValue', position:'bottom'}")
                        input#batchColorValue(type="input")
                    p.caption Your link
                        p#batchLinkError.linkError Invalid URL. Make sure your URL starts with http(s)://... You can post an invalid URL if you want to.
                        p.inputValue
                            input#batchDesiredLink.batchInputField(maxlength="500")
                    p.caption Your message
                        p.inputValue
                            input#batchDesiredMessage.batchInputField(maxlength="500")
                    p.caption For each changed dot you can add an additional amount of IOTAs
                        p.inputValue
                            input#batchAdditionalIotas.batchInputField(type="number" min="1" max="1000000")
                    p.caption Current Batch value:
                        p.inputValue
                            input#batchTransferIota.batchCopyField(type="input" readonly)
                p.caption After you have set your dots, click Done to receive transfer instructions.
                #batchDone Done
                #batchError.linkError First, set at least one dot.
    div#footer
        a.footerlink(href="https://www.youtube.com/watch?v=ivWqqfzunhI") What is IOTA (video)?
        a.footerlink(href="https://iotasupport.com/gui-sendingandreceiving.shtml") How to transfer IOTA?
        
        #disclaimer
            div This is a BETA software, the technical functionality can't be guaranteed. Transfered IOTAs can't be refunded. The website administrator reserves the right to delete inappropriate entries.
            div Do you have an issue using this website or an idea to improve it? Please post on 
                a(href="https://github.com/Qomaa/Pixmap/issues") github.
    #editDialog
        #dialogContent
            p#dialogHead
                span#dialogXY
                span#dialogValue
                span#timestamp
                a#transactionHash
            #currentContent
                p(style="margin:10px")
                    a#currentLink
                textarea#currentMessage(wrap="soft", readonly)
            #desiredContent
                p.caption Your color
                    p.inputValue
                        button#dialogColor(class="jscolor {valueElement:'dialogColorValue', position:'bottom'}")
                        input#dialogColorValue(type="input")
                p.caption Your link
                    p#linkError.linkError Invalid URL. Make sure your URL starts with http(s)://... You can post an invalid URL if you want to.
                    p.inputValue
                        input#desiredLink.inputField(maxlength="500")
                p.caption Your message
                    p.inputValue
                        input#desiredMessage.inputField(maxlength="500")
            #transferDescription
                p#instructionsSingle.caption Transfer at least
                    span#iotas
                    | IOTAs to the mentioned address and tag. As soon as the transaction is confirmed, your selected color, link and message will be displayed at
                    span#XY
                    | . Others can override your settings by overbidding your IOTA value. In case of same values the first one wins.
                #instructionsBatch.caption Your Batch was saved. Transfer IOTAs to the mentioned address and tag. As soon as the transaction is confirmed, your selected colors, links and messages will be displayed.
                    | Others can override your settings by overbidding your IOTA values. In case of same values the first one wins.
                p.caption Address:
                    p.inputValue
                        input#transferAddress.copyField(type="input" readonly)
                p.caption 
                    span#amountSingle Amount at least:
                    span#amountBatch Amount (exact!):
                    p.inputValue
                        input#transferIota.copyField(type="input" readonly)
                p.caption Transaction Tag OR Message:
                    p.inputValue
                        input#transferTag.copyField(type="input" readonly)