//- https://naltatis.github.io/jade-syntax-docs/
extends layout

block content
    #title= title
    #loading
    #pixmap
        p#loading loading ...
    #editDialog
        #dialogContent
            p#dialogValue
            p(style="margin:3px;font-size:x-small;")
                span#dialogXY
            p(style="margin:0px")
                button#dialogColor(class="jscolor {valueElement:'dialogColorValue', position:'right'}") Select your color
            p(style="margin:0px")
                input#dialogColorValue(type="input" readonly)
            p(style="margin:30px 0px 0px") Address:
                p(style="margin:0px")
                    input#transferAddress.copyField(type="input" readonly)
            p(style="margin:10px 0px 5px 0px") Amount at least:
                p(style="margin:0px")
                    input#transferIota.copyField(type="input" readonly)
            p(style="margin:10px 0px 5px 0px") Tag:
                p(style="margin:0px")
                    input#transferTag.copyField(type="input" readonly)
            p(style="margin:30px") Transfer IOTAs to the mentioned address and tag. As soon as the transaction is confirmed, your selected color will be displayed at
                span#XY
                | .
    //- button(id="save") save