doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description" content="iota.show: Set public dots with IOTA. Add a message and a link.")
    meta(name="keywords" content="iota,draw,pixel,map,iotamap,iotashow,show,cryptocurrency,crypto")
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.png')
    block css
    block scripts
  body
    block content