doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description" content="iota.show: Set public dots with IOTA. Add a message and a link.")
    meta(name="keywords" content="iota,draw,pixel,map,iotamap,iotashow,show,cryptocurrency,crypto")
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/editDialog.css')
    link(rel='stylesheet', href='/stylesheets/tooltip.css')
    script(src="/javascripts/jscolor/jscolor.min.js")
    script(src='/javascripts/public.js')
    script(src='/javascripts/MapField.js')
    script(src='/javascripts/Message.js')
    script(src='/javascripts/Pixmap.js')
    script(src='/javascripts/utils.js')
    script(src='/javascripts/EditDialog.js')
  body
    block content