doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/jscolor/jscolor.min.js")
    script(src='/javascripts/public.js')
    script(src='/javascripts/MapField.js')
    script(src='/javascripts/Map.js')
  body
    block content