doctype html
html
  head
    title= title
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/editDialog.css')
    script(src="/javascripts/jscolor/jscolor.min.js")
    script(src='/javascripts/public.js')
    script(src='/javascripts/MapField.js')
    script(src='/javascripts/Pixmap.js')
    script(src='/javascripts/Utils.js')
    script(src='/javascripts/EditDialog.js')
  body
    block content