//- https://naltatis.github.io/jade-syntax-docs/
extends layout

block css
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/table.css')

block scripts
        script(src='/javascripts/table.js')
        script(src='/javascripts/Pixmap.js')
        script(src='/javascripts/MapField.js')

block content
    #titleTable
        img(src="/images/favicon.png", alt="iota.show logo", style="margin:0px 10px 0px 0px;")
        a#titleCaption(href="/", title) iota.show

    p(style="font-size:small;color:#0600ff;padding-bottom:20px;margin-top:0px;") Table of all dots with their link and message.
    p#loading loading ...
    table#table
    p#footer
        a.footerlink(href="https://www.youtube.com/watch?v=ivWqqfzunhI") What is IOTA (video)?
        a.footerlink(href="https://iotasupport.com/gui-sendingandreceiving.shtml") How to transfer IOTA?
        a.footerlink(href="https://github.com/Qomaa/Pixmap") github
        #disclaimer
            div This is a BETA software, the technical functionality can't be guaranteed. Transfered IOTAs can't be refunded. The website administrator reserves the right to delete inappropriate entries.
            div Do you have an issue using this website or an idea to improve it? Please post on 
                a(href="https://github.com/Qomaa/Pixmap/issues") github.