#editDialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#dialogContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: calc(var(--pixmapWidth) - (var(--pixmapWidth) * 0.2));
    text-align: center;
    box-shadow: 0px 0px 50px;
    border-radius: 10px;
}

#dialogColor{
    border: 1px solid gray; 
    width: 125px; 
    height: 125px; 
    cursor: pointer;
}

#dialogValue{
    font-size:xx-large;
    background-color: #00ff0570;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: calc(var(--pixmapWidth)/ 2.6);
    margin-right: calc(var(--pixmapWidth)/ 2.6);
}

#transferAddress{
    font-size: x-small;
    font-weight: bold;
    word-wrap: break-word;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.highlighttext{
    font-weight: 23;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}