#editDialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#dialogContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: calc(var(--pixmapWidth) * 0.8);
    box-shadow: 0px 0px 50px;
    border-radius: 10px;
}

#dialogHead{
    margin: 0px 0px 10px 0px;
    font-size:x-small;
    text-align: center;
}

#currentContent{
    text-align: center;
    border: 1px solid aqua;
    margin-bottom:50px;
    height: 110px;
    text-align: center;
}

#currentMessage{
    width: calc(var(--pixmapWidth) * 0.75);
    height: 70px;
    border:none;
    resize: none;
    font-size: x-large;
    text-align: center;
}
#currentMessage:hover,
#currentMessage:focus {
    border:none;
}

.caption{
    font-size: small;
    margin: 10px 0px 3px 0px;
}

.inputValue{
    margin: 0px;
}

.copyField {
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
.copyField:hover {
    border-color:aqua;
}

#dialogValue {
    margin-left: 20px;
}

#transactionHash {
    margin-left: 20px;
}

#timestamp {
    margin-left: 20px;
}

#desiredContent {
    margin-bottom: 50px;
}

#dialogColor{
    border: 1px solid gray; 
    width: 60px; 
    height: 20px; 
    cursor: pointer;
}
#dialogColor:hover,
#dialogColor:focus{
    border-color: aqua;
}

#dialogColorValue {
    width: 50px;
    height: 15px;
    margin-left: 10px;
    border: 1px solid gray;
    vertical-align: super;
    text-align: center;
    font-size: x-small;    
}
#dialogColorValue:hover,
#dialogColorValue:focus {
    border-color:aqua;
}

.inputField{
    border: 1px solid gray;
    width: calc(var(--pixmapWidth) * 0.78);
    padding-left: 10px;
}
.inputField:hover,
.inputField:focus{
    border-color: aqua;
}

#linkError {
    display: none;
    font-size: xx-small;
    color: red;
    margin: 0px;
}

#transferAddress{
    width: calc(var(--pixmapWidth) * 0.78);
    font-size: x-small;
    height: 18px;
    padding-left: 10px;
}

#transferIota{
    width: calc(var(--pixmapWidth) * 0.78);
    padding-left: 10px;
}

#transferTag{
    width: calc(var(--pixmapWidth) * 0.78);
    padding-left: 10px;
}