#editDialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#dialogContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: calc(var(--pixmapWidth) * 0.8);
    text-align: center;
    box-shadow: 0px 0px 50px;
    border-radius: 10px;
}

#dialogColor{
    border: 1px solid gray; 
    width: 125px; 
    height: 125px; 
    cursor: pointer;
}
#dialogColor:hover,
#dialogColor:focus{
    border-color: aqua;
}


.copyField {
    width: calc(var(--pixmapWidth) * 0.8);
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
.copyField:hover {
    border-color:aqua;
}

#dialogValue{
    font-size:x-small;
    margin: 10px 0px 0px;
}

#dialogColorValue {
    width:70px;
    text-align:center;
    border:none;
    font-size:x-small;    
}

#transferAddress{
    font-size: x-small;
    height: 18px;
}

.highlighttext{
    font-weight: 23;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}