body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #FFEDB6;
}

#pixmap {
    border: solid;
    border-color: darkgrey;
    border-width: 2px;
    margin: auto;
}

.mapfield {
    float: left;
}

#save {
    margin: auto;
    border-width: 1px;
    border-color: lightgray;
}

#clickcolorbutton{
    padding-top: 10px;
    padding-left: 48%;
}