body {
    --pixmapWidth: 800px;
    --pixmapHeight: 600px;
    --mapFieldLength: -1px;

    padding: 3%;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #b4ffff;
}

#title {
    color: #0600ff;
    font-size: x-large;
    text-align: center;
    padding-bottom: 30px;
    /* text-shadow: 0px 0px 20px #00ffff; */
    /* display:none; */
}

#loading{
    display: block;
    color: #0600ff;
    font-size: large;
    text-align: center;
}

#pixmap {
    width: var(--pixmapWidth);
    height: var(--pixmapHeight);
    margin: auto;
    border: solid;
    border-color: #0600ff;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 50px #00ffff;
}

.mapfield {
    --mapFieldColor: rgba(255, 255, 255, 0);
    
    position:relative;
    width: var(--mapFieldLength);
    height: var(--mapFieldLength);
    background-color: var(--mapFieldColor);

    float: left;
}
.mapfield:hover {
    background-color: rgba(0, 214, 252, 0.541);
}

#footer{
    margin-top: 40px;
    text-align: center;
}

.footerlink{
    margin: 0px 10px 0px 10px;
    color:  #0600ff;
}
.footerlink:hover{
    text-shadow: 0px 0px 20px #00ffff;
}