body {
    --pixmapWidth: 800px;
    --pixmapHeight: 600px;
    --mapFieldLength: -1px;

    padding: 1% 3% 3% 3%;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #b4ffff;
}

#title {
    font-size: x-large;
    text-align: center;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleCaption, #titleCaption:visited, #titleCaption:link, #titleCaption:active {
    color: #0600ff;
    text-decoration: none;
}

#loading{
    display: block;
    color: #0600ff;
    font-size: large;
    text-align: center;
}

#pixmap {
    width: var(--pixmapWidth);
    height: var(--pixmapHeight);
    margin: auto;
    border: solid;
    border-color: #0600ff;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 50px #00ffff;
}

#functions {
    width: var(--pixmapWidth);
    margin: auto;
}

#batchMode {
    display: none;
    background-color: #b4ffff;
    border: solid;
    border-color: #ff9100;
    border-width: 1px;
    padding: 15px;
}

#toggleBatchMode{
    width: 400px;
}

.function {
    cursor: pointer;
    padding: 3px 15px 3px 15px;
    border-radius: 7px;
    margin: 20px 10px 0px 0px;
    background-color: #0600ff;
    text-align: center;
    color: #b4ffff;
}

#batchDone {
    width: 50px;
    text-align: center;
    background-color: #ff9100;
    color: #0600ff;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#batchColorPicker {
        border: 1px solid gray; 
        width: 60px; 
        height: 20px; 
        cursor: pointer;
}
#batchColorPicker:hover,
#batchColorPicker:focus{
    border-color: aqua;
}

#batchColorValue {
    width: 50px;
    height: 15px;
    margin-left: 10px;
    border: 1px solid gray;
    vertical-align: super;
    text-align: center;
    font-size: x-small;  
}

.batchInputField {
    border: 1px solid gray;
    width: calc(var(--pixmapWidth) * 0.9);
    padding-left: 10px;
}
.batchInputField:hover,
.batchInputField:focus{
    border-color: aqua;
}

.batchCopyField {
    width: calc(var(--pixmapWidth) * 0.9);
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-left: 10px;
    font-size: smaller;
}
.batchCopyField:hover {
    border-color:aqua;
}

.mapfield {
    --mapFieldColor: rgb(255, 255, 255);
    
    position:relative;
    width: var(--mapFieldLength);
    height: var(--mapFieldLength);
    background-color: var(--mapFieldColor);

    float: left;
    user-select: none;
}
.mapfield:hover {
    opacity: 0.6;
}

#footer{
    margin-top: 40px;
    text-align: center;
}

.footerlink{
    margin: 0px 10px 0px 10px;
    
}

a {
    color:  #0600ff;
}
a:hover{
    text-shadow: 0px 0px 20px #00ffff;
}

#disclaimer {
    margin: 20px 0px 0px 0px;
    font-size: smaller;
}