#titleTable {
    font-size: x-large;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
}

.number {
    color: lightgrey;
}

a {
    color:  #0600ff;
}
a:hover {
    text-shadow: 0px 0px 20px #00ffff;
}