#tooltip {
    position: absolute; 
    z-index: 99; 
    border: 1px solid blue; 
    border-radius: 1px 5px 5px 5px;
    background-color: aliceblue;
    display: none;
}

#ttPosition {
    height: 12px;
    width: 50px;
    font-size: x-small;
    text-align: center;
}

#ttValue {
    height: 12px;
    font-size: x-small;
    text-align: center;
}

#ttColor {
    width: 25px;
    height: 25px;
    border: 1px solid blue;
    margin: auto;
}

#ttMessage {
    font-size: small;
}

/* #tooltip {
    position: absolute; 
    z-index: 99; 
    left: 0px; 
    top: 0px;
    border: 1px solid blue; 
    background: white;
    display: none;
    padding: 2px;
}

.wrap {
    display:flex;
}

#tooltipPos {
    height: 12px;
    font-size: x-small
}

#tooltipColor {
    width: 25px;
    height: 25px;
    border: 1px solid blue;
}

#tooltipValue {
    height: 12px;
    font-size: x-small;
}

#tooltipMessage {
    height: 25px;
    font-size: small;
} */